.contentContainer {
  width: 100vw;
  height: auto;
  padding-left: 15px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .contentContainer {
    width: 75vw;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
}

.intrests {
  width: 90%;
  height: 100%;
  padding: 5px;
}
.eachIntrest {
  list-style: none;
  color: #fff;
  width: 100%;
  font-size: 90%;
  padding-top: 5px;
}
